
<div>
        
    <div style="width: 100%; height: 80px; padding :20px; background-color: #99FFFF; text-align: center;">
        <div style="width: 100px; float:left">
            <img src="assets/images/logo.png" width="60px" height="40px" />
        </div>
        <div style="width: 100px; float:left; text-align: center;">
            <a [routerLink]="['/dashboard']" routerLinkActive="active-link">
                Home
              </a>
        </div>
        <div style="width: 100px; float:left; text-align: center;">
            <a [routerLink]="['/employees']" routerLinkActive="active-link">
                EmployeeList
              </a>
        </div>
        <div style="width: 100px; float:right; text-align: center;">
            <a [routerLink]="['/logout']" routerLinkActive="active-link">
                Logout
              </a>
        </div>
        <div style="width: 100px; float:right; text-align: center;">
            {{userName}}
        </div>
        
    </div>
</div>
<router-outlet></router-outlet>
